@model Application.DTO.ClientDTO

@{
    ViewData["Title"] = ViewData["Title"] ?? "Create";
//<form action="/Client/Create" method="post" id="formCreateClient">
}


    <form asp-action="@ViewData["Title"]" method="post" id="formCreateClient">

    <div class="text-right">
        <h1 class="display-4">@(ViewData["Title"] as string == "Edit" ? "Editar Cliente" : "Agregar Cliente")</h1>
    </div>

    <div class="form-group">
        <label asp-for="CUIT"></label>
        <input asp-for="CUIT" id="inputCuit" class="form-control" />
        <button type="button" id="buttonValidarCuit" class="btn btn-secondary mt-2">Validar CUIT</button>
        <span asp-validation-for="CUIT" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RazonSocial"></label>
        <input asp-for="RazonSocial" id="inputRazonSocial" class="form-control" readonly />
        <span asp-validation-for="RazonSocial" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Telefono"></label>
        <input asp-for="Telefono" id="inputTelefono" class="form-control" readonly />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Direccion"></label>
        <input asp-for="Direccion" id="inputDireccion" class="form-control" readonly />
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input asp-for="Activo" id="inputActive" class="form-check-input" disabled />
        <label asp-for="Activo" class="form-check-label"></label>
    </div>

    <button id="buttonCreateFormSubmit" type="submit" class="btn btn-primary" disabled>Guardar</button>
    <button type="submit" class="btn btn-primary">
        @(ViewData["Title"] as string == "Edit" ? "Actualizar" : "Guardar")
    </button>
</form>

@section Scripts {
    <script type="module" src="~/js/listener/onClick.js"></script>
}
