@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Index.cshtml</h1>
    <h3>Views/Home/Index.cshtml</h3>

    <p>parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo </p>
</div>
