@model Application.DTO.ClientDTO
@{
    ViewData["Title"] = "Editar cliente";
}

<form asp-controller="Client" asp-action="Update" method="post" id="formUpdateClient">

<input type="hidden" name="IsEditMode" value="true" />

    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <a class="btn btn-secondary" asp-controller="Client" asp-action="Clients" data-bs-toggle="tooltip" title="Cancelar y volver al inicio">
            <i class="bi bi-arrow-left-circle"></i> Cancelar
        </a>
    </div>

    <div class="form-group">
        <label asp-for="CUIT"></label>
        <input asp-for="CUIT" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="RazonSocial"></label>
        <input asp-for="RazonSocial" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Telefono"></label>
        <input asp-for="Telefono" class="form-control" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Direccion"></label>
        <input asp-for="Direccion" class="form-control" />
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input asp-for="Activo" class="form-check-input" />
        <label asp-for="Activo" class="form-check-label"></label>
    </div>

    <button id="buttonUpdateFormSubmit" type="submit" class="btn btn-primary">
        Actualizar
    </button>

</form>

@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info alert-dismissible fade show mt-4" role="alert">
        <strong>Info:</strong> @TempData["InfoMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="module" src="~/js/listener/eventHandler.js"></script>
}
